body {
  font-family: "Cairo", sans-serif;
  direction: rtl;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.navbar-brand,
.navbar-nav,
.social-icons {
  width: auto;
}

.navbar-brand img {
  width: 100px;
}

.navbar {
  background-color: #496280;
}

.navbar-nav {
  margin-inline: auto;
}

.navbar-nav .nav-link {
  color: #fafafa;
  font-weight: bold;
  transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover {
  color: #a7821c;
  background-color: #35414e;
  border-radius: 10px;
}

.social-icons {
  display: flex;
  align-items: center;
  gap: 10px;
}

.social-icons a {
  color: #fafafa;
  text-decoration: none;
  font-size: 1.5em;
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: #a7821c;
}

.container {
  padding-top: 60px;
}

.hero {
  height: 100vh;
  color: #fff;
  text-align: center;
  padding: 100px 20px;
  border-radius: 10px;
  margin-bottom: 2em;
}

.image {
  background: url("../Image/13.jpg");
  background-size: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #e7e8ea;
}

@media screen and (max-width: 807px) {
  .image {
    background: url("../Image/13.jpg");
    background-size: 160%;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #e7e8ea;
  }
}

.hero-content {
  width: 85%;
  background-color: #6583a7a4; /* خلفية شفافة */
  backdrop-filter: blur(1px);
  padding: 20px;
  border-radius: 10px;
  margin-inline: auto;
}

/* المنتجات */
.products {
  margin-top: 3em;
}

.items {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}

.product-item {
  width: 40%;
  margin-bottom: 2em;
  padding: 1em;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  transition: box-shadow 0.3s ease;
  text-align: center;
}

.product-item p {
  margin-top: 20px;
}

.product-item:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.products h4 {
  margin-top: 1em;
  color: #a7821c;
}

.product-item img {
  width: 100%;
  height: 500px;
  border-radius: 10px;

  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.703);
}
/* التأثير عند التمرير */
.product-item img:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  filter: brightness(110%);
}

.product-category {
  margin-bottom: 2em;
}


span {
  color: #a7821c;
}

/* Contact */
.con-cont {
  margin-top: 50px;
}

.contact-form {
  background-color: #fff;
  padding: 2em;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.contact-form h2 {
  margin-bottom: 1em;
  color: #333;
}
.contact-form .form-group {
  margin-bottom: 1.5em;
}
.contact-form .form-control {
  border-radius: 5px;
}
.contact-details {
  margin-top: 2em;
}

/* من نحن  */
.about-us {
  padding: 50px 20px;
  background-color: #d7a21044;
  border-radius: 12px;
  box-shadow: 0 4px 8px #aa821395;
  margin-top: 30px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.about-us:hover {
  transform: scale(1.02);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.about-us h2 {
  font-size: 2.5em;
  margin-bottom: 20px;
  color: #496280;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.about-us p {
  font-size: 1.2em;
  line-height: 1.8;
  color: #333;
  text-align: justify;
  margin-bottom: 0;
}


/* فريق العمل  */
.team {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
.text-team {
  text-align: center;
  color: #a7821c;
}

.team-member {
  flex: 30%;
  box-sizing: border-box;
  padding: 20px;
  margin: 10px;
  background-color: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}
.team-member h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
}
.team-member p {
  font-size: 1em;
  color: #666;
}
@media (max-width: 768px) {
  .team-member {
    flex: 100%;
  }
}

/* البار السوفلي  */
.social-border {
  border-top: 2px solid #496280;
  background-color: #e7e8ea;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 0;
}

.social-border .social-icons {
  margin-top: 10px;
}

.social-border .social-icons a {
  margin: 0 10px;
  color: #000;
  font-size: 30px;
}

.social-border .social-icons a:hover {
  color: #a7821c;
}

.text-center {
  color: #a7821c;
  margin-bottom: 0; /* أضف هذا لتقليل المسافة تحت العنوان */
}
